@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline|Bai+Jamjuree|Quicksand|Mandali|Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
	background-color: #0C0C0C; /*#1B1B1B;*/
	padding: 25px 20px 0px 20px;
	color: #F8F8F8;
}

nav{
	/*overflow: auto;*/
	padding-bottom: 15px;
	border-bottom: solid 1px  #934838;
}

h1{
    font-family: 'Bungee Hairline', cursive;
    font-size: 33px;
    font-weight: bold;
    text-align: left;
    padding-top: 10px;
}


section{
	border-bottom: 1px solid  #934838;
	padding-bottom: 45px;
}

h2{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 13px;
	  padding: 20px 0px 20px 0px;
}



.a-logo{
    margin-right: -7px;
    margin-top: -5px;
    height: 40px;
}

.btn{
  background-color: #0077be;
  padding: .2rem .6rem;
}

.btn:hover{
  color:#f8f8f8;
}


.almendra-r-video{
  width: 430px;
  height: 240px;
}

.almendra-resources-videos-more{
  font: 15px/1.1 'Quicksand', sans-serif;
  text-align: center;
  padding-top: 20px;
}



.arvr{
  color: #0077be !important;
  font-weight: bold;
}

.inst-img{
  width: 100%;
  height: auto;
}


.almendra-mission-br{
    font: 29px/1.1 'Quicksand', sans-serif;
	padding: 0px 0px 10px 0px;
}

.learn-more{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: #0077be !important;
    font-size: 13px;
    font-weight: bold;
}

figure{
	box-shadow: 0px 0px 16px 4px rgba(93,48,38,0.7);
	transition: 0.3s;
	border-radius: 5px;
	padding: 10px;
}

figure img{
	border-radius: 5px 5px 0 0;
	width: 100%;
}

figure:hover{
	box-shadow: 0 0px 8px 0 rgba(0,119,190,0.2);
}

.container{
	padding: 0px;
	margin: 0px;
	max-width: 100%;
}

a{
	text-decoration: none !important;
	color: #F8F8F8;
	outline: none;
}

a:hover{
	color: #0077be;
	outline: none;
}

*:focus {
	outline: none;
}

a h3{
	font: 14px/1.1 'Quicksand', sans-serif;
	font-weight: bold;
	padding: 5px 0px 15px 0px;
	color: #F8F8F8;
}

#almendra-projects .learn-more{
	padding-top: 20px;
}

/** Blog **/
#almendra-blog ul li{
	height: 70px;
	text-align: left;
	flex-direction: row;
	align-items: center;
}

#almendra-blog ul li:hover{
	opacity: 0.7;
}

.r-post-title{
	font:14px/1.1 'Mandali', sans-serif;
	color: #F8F8F8;
	font-weight: bold;
}

.r-post-date{
	font:11px/1 'Rajdhani', sans-serif;
	color: #E7E6D7;
}


.landing{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.important-link{
	font-weight: bold;
}


.f-icon {
  fill: currentColor;
  color: inherit;
  width: auto;
  height: auto;
}

.f-icon {
  width: 3rem;
  margin: 10px;
  color: rgba(#000,0.4);
}

footer {
  text-align: center;
}

footer p{
	font-family: 'Quicksand', sans-serif;
	font-size: 12px;
	padding-bottom: 25px;
}

/** Menu **/
.wrapper-menu {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);  
}

.line-menu {
  background-color: #F8F8F8;
  border-radius: 5px;
  width: 100%;
  height: 2px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}
/* Menu */

.almendra-join-m{
	font: 15px/1.3 'Quicksand', sans-serif;
	text-align: justify;
}
p a:hover{
	color: #F8F8F8;
}

footer a:hover{
	color: #F8F8F8;
}


/* NAV */

nav {
      position: relative;
      width: 100%;
      height: 80px; 
      top: 0;
    }

nav ul {
  padding: 15px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  z-index: -100;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
nav ul li a {
  padding: 10px 0;
  color: #fdfbfb;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;

  font: 17px/1 'Bai Jamjuree', sans-serif;
}
nav ul li a:hover {
  color: #008CBA;
  text-decoration: none;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: #fdfbfb;
}

a.active {
  border-bottom: 2px solid #008CBA;
  color: #fdfbfb;
}

.main-nav {
  position: relative; 
  overflow: hidden;
}
.main-nav {
  height: 60px;
  z-index: 150;
}
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}

.main-nav ul li a.icon{
	display: none;
}

   nav ul {
      float: right;
      padding-top: 15px;
    }

    nav ul li a{
      font-size: 16px;
    }

nav ul{
	padding-right: 0px;
}

.main-nav{
	padding-right: 0px;
}

#almendra-resources-posts ul li{
  height: 70px;
  text-align: left;
  flex-direction: row;
  align-items: center;
}

#almendra-resources-code ul li{
  height: 40px;
  align-items: center;
}

#almendra-resources-code ul li:hover{
  opacity: 0.7;
}

#almendra-resources-posts ul li:hover{
  opacity: 0.7;
}

#almendra-resources-videos figure{
  width: 65%;
  display: inline-block;
}

@media screen and (max-width: 600px) {

  .main-nav{
  	/*display: inline-table;*/
  }

  .main-nav ul li a{
    display: none;
    overflow: hidden;
  }

  .main-nav ul li a.icon{
    float: right;
    display: block;
  }

  nav ul{
    padding: 7px 0px 0px 0px;
    width: 100%;
    position: absolute;
  }

  nav ul li{
    display: block;
    margin: 0px;
    background-color: #1B1B1B;
  }

  .main-nav.responsive {
    position: relative;
    display: table;
    height: 200px;
  }

  .main-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .main-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .main-nav.responsive ul{
    z-index: 100;
  }

   #almendra-resources-videos figure{
    width: 85%;
  }

  #almendra-resources-code ul li{
    height: 60px;
  }

  .f-icon {
    width: 2rem;
  }
/*
  .almendra-r-video{
    width: 285px;
    height: 160px;
  }*/
}
@media (max-width:374px) {
  .almendra-r-video{
    width: 285px;
    height: 160px;
  }
}
@media (min-width: 375px) and (max-width:424px) {
  .almendra-r-video{
    width: 335px;
    height: 180px;
  }
}
@media (min-width: 425px) and (max-width:767px) { /* TABLET */
  .almendra-r-video{
    width: 385px;
    height: 210px;
  }
}
@media (min-width: 768px) and (max-width:1023px) {
  .almendra-r-video{
    width: 240px;
    height: 140px;
  }
}

@media (min-width: 1024px) and (max-width:1025px){
  /* Is the same as the default style */
  .almendra-r-video{
    width: 325px;
    height: 190px;
  }
}