---
layout: default
title: "Almendra"
description: "Artificial intelligence open-research initiative for space exploration."

plimit: 3
blimit: 5
r-plimit: 3
r-climit: 4
---

<section id="almendra-mission">
	<h2> Mission </h2>
	<p class="almendra-mission-br"> Solve space exploration hurdles through artificial intelligence. </p>
	<a class="learn-more" href="./about.html"> LEARN MORE > </a>
</section>

<section id="almendra-projects">
	<h2> Recent projects </h2>
	<div class="container">
		<div class="row">
			{% for project in site.categories.projects limit: page.plimit %}
			<div class="col-sm-4">
				<a href="{{ project.url }}">
					<figure>
						<h3>{{ project.title }}</h3> 
						<img src="{{ project.image }}" >
					</figure>
				</a>
				<br>
				<br>
			</div>
			{% endfor %}
		</div>
	</div>
	<a class="learn-more" href="./projects.html"> VIEW ADVANCES > </a>
</section>

<section id=almendra-blog>
	<h2> Recent posts </h2>
	<br/>
	<ul>
		{% for post in site.categories.blog limit: page.blimit  %}
		<a href="{{ post.url }}" >
			<li>
				<p class="r-post-title"> {{ post.title }}</p>
				<p class="r-post-date">{{ post.date | date: '%B %d, %Y' }} </p>
			</li>
		</a>
		{% endfor %}
	</ul>
	<a class="learn-more" href="./blog.html"> VIEW BLOG > </a>
</section>

<section id="almendra-resources">
	<h2> Recent uploads </h2>
	<div class="container">
		<div class="row">
			<div class="col-sm-6" id="almendra-resources-code">
				<ul>
					{% for link in site.data.codeurls limit: page.r-climit %}
					<a href="{{ link.url }}" target="_blank" rel="noopener">
						<li>
							<p class="r-post-title"> {{ link.name }}</p>
						</li>
					</a>
					{% endfor %}
				</ul>
			</div>
			<div class="col-sm-6" id="almendra-resources-posts">
				<ul>
					{% for post in site.categories.resources limit: page.r-plimit %}
					<a href="{{ post.url }}" >
						<li>
							<p class="r-post-title"> {{ post.title }}</p>
							<p class="r-post-date">{{ post.date | date: '%B %d, %Y' }} </p>
						</li>
					</a>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div> 
	<a class="learn-more" href="./resources.html" > VIEW RESOURCES > </a>
</section>

