---
layout: default

title: "Almendra"

plimit: 3
blimit: 5
rlimit: 3
---

<section id="almendra-mission">
	<h2> Mission </h2>
	<p class="almendra-mission-br"> Relieving multiplanetary-life hurdles using artificial intelligence. </p>
	<a class="learn-more" href="./about.html"> LEARN MORE > </a>
</section>

<section id="almendra-projects">
	<h2> Recent projects </h2>
	<div class="container">
		<div class="row">
			{% for project in site.categories.projects limit: page.plimit %}
			<div class="col-sm-4">
				<a href="{{ project.url }}">
					<figure>
						<h3>{{ project.title }}</h3> 
						<img src="{{ project.image }}" >
					</figure>
				</a>
				<br>
				<br>
			</div>
			{% endfor %}
		</div>
	</div>
	<a class="learn-more" href="./projects.html"> VIEW ADVANCES > </a>
</section>

<section id=almendra-blog>
	<h2> Recent posts </h2>
	<br/>
	<ul>
		{% for post in site.categories.blog limit: page.blimit  %}
		<a href="{{ post.url }}" >
			<li>
				<p class="r-post-title"> {{ post.title }}</p>
				<p class="r-post-date">{{ post.date | date: '%B %d, %Y' }} </p>
			</li>
		</a>
		{% endfor %}
	</ul>
	<a class="learn-more" href="./blog.html"> VIEW BLOG > </a>
</section>

<section id="almendra-resources">
	<h2> Recent uploads </h2>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<a href="">
					<figure>
						<h3>Learn how to code a localization system for the moon.</h3> 
						<!-- <img src="./imgs/test18.jpg" > -->
						<iframe  width="100%" height= "250px" src="https://www.youtube.com/embed/XFzuUwiL85U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</figure>
				</a>
				<br>
				<br>
			</div>
			<div class="col-sm-4">
				<a href="">
					<figure>
						<h3>Implemenation code of a generative model using C++.</h3> 
						<!--<img src="./imgs/test17.jpg" > -->
						<iframe  width="100%" height= "250px" src="https://www.youtube.com/embed/Bav1DzAnitc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</figure>
				</a>
				<br>
				<br>
			</div>
			<div class="col-sm-4">
				<a href="">
					<figure>
						<h3>Learn how to build a depression detector.</h3> 
						<iframe  width="100%" height= "250px" src="https://www.youtube.com/embed/2Usivi731Eo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</figure>
				</a>
				<br>
				<br>
			</div>
		</div>
	</div>
	<a class="learn-more" href="./resources.html" > VIEW RESOURCES > </a>
</section>

<section id="almendra-join">
	<h2> Join us </h2>
	<p class="almendra-join-m"> 
		Almendra is an open research organization meaning that you can directly contribute using <a class="important-link" href="https://github.com/initiativealmendra">GitHub</a>, but if you are interested in collaborating in a different way, like creating new resources, submitting new projects, writing blog posts, or suggesting new things, then don't hesitate to send an email to <a class="important-link" href="mailto:initiativealmendra@hotmail.com"> initiativealmendra@gmail.com</a>. 
	</p>
</section>


