---
layout: default

title: "Almendra | Resources"
description: "Technical posts that describe how use deep learning to solve space problems, deep learning architectures in a semi play-and-plug way, AI research insights, computer vision concepts, and more."
---

<section id="almendra-resources-posts" >
	<h2> Technical articles </h2>
	<br>
	<ul>
		{% for post in site.categories.resources %}
		<a href="{{ post.url }}" >
			<li>
				<p class="r-post-title"> {{ post.title }}</p>
				<p class="r-post-date">{{ post.date | date: '%B %d, %Y' }} </p>
			</li>
		</a>
		{% endfor %}
	</ul>
</section>

<section id="almendra-resources-code">
	<h2> Open code </h2>
	<br>
	<ul>
		{% for link in site.data.codeurls %}
		<a href="{{ link.url }}" target="_blank" rel="noopener">
			<li>
				<p class="r-post-title"> {{ link.name }}</p>
			</li>
		</a>
		{% endfor %}
	</ul>
</section>

<section id="almendra-resources-videos">
	<h2> Teaching videos </h2>
	<br>
	<div class="container">
		<div class="row" style="margin-right: 0px;">
		{% for video in site.data.teachingvideos limit:3 %}
			<div class="col-sm-4">
				<iframe class="almendra-r-video"  src="{{ video.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
			</div>
		{% endfor %}
		</div>
	</div>
	<h3 class="almendra-resources-videos-more">
		Subscribe <a href="https://www.youtube.com/channel/UCNXHr_mzoplvXy0crvhJKRg" class="arvr" target="_blank" rel="noopener">Almendra's youtube channel</a> for more videos!
	</h3>
</section>

<section>
	<h2>Research insights</h2>
	<div class="container">
		<div class="row" style="margin-right: 0px;">
			<div class="col-sm-2"> 
				<a href="https://www.instagram.com/p/B0O7wI6H0vg/" target="_blank" rel="noopener">
					<img src="{{ page.baseurl }}/imgs/instagram/1.webp" class="inst-img" />
				</a>
			</div>
			<div class="col-sm-2"> 
				<a href="https://www.instagram.com/p/B0mACqSn6EX/" target="_blank" rel="noopener">
					<img src="{{ page.baseurl }}/imgs/instagram/2.webp" class="inst-img" />
				</a>
			</div>
			<div class="col-sm-2"> 
				<a href="https://www.instagram.com/p/B3KsDVEl9Ql/" target="_blank" rel="noopener">
					<img src="{{ page.baseurl }}/imgs/instagram/3.webp" class="inst-img" />
				</a>
			</div>
			<div class="col-sm-2"> 
				<a href="https://www.instagram.com/p/B0rQfb8grwJ/" target="_blank" rel="noopener">
					<img src="{{ page.baseurl }}/imgs/instagram/4.webp" class="inst-img" />
				</a>
			</div>
			<div class="col-sm-2"> 
				<a href="https://www.instagram.com/p/B3DNbqqnC_L/" target="_blank" rel="noopener">
					<img src="{{ page.baseurl }}/imgs/instagram/5.webp" class="inst-img" />
				</a>
			</div>
			<div class="col-sm-2"> 
				<a href="https://www.instagram.com/p/B24cLzihFC8/" target="_blank" rel="noopener">
					<img src="{{ page.baseurl }}/imgs/instagram/6.webp" class="inst-img" />
				</a>
			</div>
		</div>
	</div>
	<h3 class="almendra-resources-videos-more">
		Follow <a href="https://www.instagram.com/initiativealmendra/" class="arvr" target="_blank" rel="noopener">Almendra's instagram</a> for more insights!
	</h3>
</section>